<ion-menu contentId="principal" menuId="menuLateral" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title>Opciones</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/menu-tab">
        <ion-icon name="grid-outline"></ion-icon> &nbsp; Inicio
      </ion-item>
      <ion-item routerLink="/mesa-cursos">
        <ion-icon name="pencil-outline"></ion-icon> &nbsp; Crear
      </ion-item>
      <ion-item (click)="cerrarSesion()">
        <ion-icon name="log-out-outline"></ion-icon> &nbsp; Cerrar sesión
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>